<div class="row">

    <div class="col-8 mt-4 mx-auto">
        <div class="row">
            <div class="col-sm text-center">
                <strong><h1><%= @category.title %></h1></strong>
                <h4><%= @category.description %></h4>
            </div>
            <div class="col-sm">
                <%= link_to "New Word",  new_admin_category_word_path , class: "btn btn-info float-right"%>
            </div>

        <table class="table mt-3 table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Answer</th>
                    <th scope="col">Settings</th>
                </tr>
            </thead>
            <tbody>
                <% @words.each do |word| %>
                    <tr>
                        <td><%= word.content %></td>
                        <td><%= word.correct_answer %></td>
                        <td>
                            <%= link_to 'Edit', edit_admin_category_word_path(@category, word) %> /
                            <%= link_to 'Delete', admin_category_word_path(@category, word), method: :delete, data: { confirm: "Are your sure?"} %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <div class="paginate">
            <%= will_paginate @word %>
        </div>

        <%= link_to 'Back', admin_categories_path, class: "btn btn-primary" %>
        <br> <br> <br> <br>
    </div>  
</div>