<div class="col-6 mx-auto">
<h1 class="text-center">Sign up</h1>

<% if @user.errors.any? %>  <!--もし、エラーが出たら表示する,validatesでの定義も忘れずに-->
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>      
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :name, class:"form-control" %>     
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>     
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:"form-control" %>     
    </div>
    <p></p>
    <div>
    <%= f.submit "create new account",class:"btn btn-primary", class:"form-control" %>
    </div>

<% end %>
</div>