
<div class="container mt-4">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="row">
                <div class="col-6 text-center">
                    <h1><%= @category.title%></h1>
                </div>
                <div class="col-6 text-right">
                    <%= @lesson.words.count + 1%> of <%= @category.words.count %>
                </div>
            </div>

            <div class="jumbotron">
                <h1 class="text-center mb-4"><%= @lesson.next_word.content %></h1>
                <% @lesson.next_word.choices.each do |choice| %>
                   <%= form_for([@lesson,@answer]) do |f|%>
                        <%=f.hidden_field :word_id, value: choice.word_id%>
                        <%=f.hidden_field :choice_id, value: choice.id%>
                        <%=f.submit choice.content, class: "btn btn-primary btn-block mb-2"%>
                   <%end%>
                <%end%>
            </div>
        </div>
    </div>
</div>