<div class="container">
    <h3 class="text-center mt-4"><%= @lesson.category.title%></h3>
    <h5 class="text-center">Total correct answers are <%= @lesson.result%> of <%= @lesson.words.count%></h5>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Word</th>
                <th>Your answer</th>
                <th>correct answer</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <% @answers.each do |answer| %>
            <tr>
                <td><%= answer.word.content %></td>
                <td><%= answer.choice.content %></td>
                <td><%= answer.word.correct_answer %></td>
                <td>
                    <% if answer.choice.content ==answer.word.correct_answer %>
                      <div class="text-center"><i class="far fa-thumbs-up"></i></div>
                     <%else%>
                      <div class="text-center"><i class="fas fa-times-circle "></i></div>
                     <%end%>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <div class="paginate">
            <%= will_paginate @answers %>
        </div>
    </div>
</div>
