    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!--heater-->
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand text-left" href="#">Sakata-e-learning</a>
        </ul>
        <ul class="navbar-nav">  
            <% if signed_in? %>  <!--もしサインインしたら、headerが変わるしくみ　ifを使う-->
             <li class="nav-item">
                <%= link_to "home", root_path ,class: "nav-link" %>      <!--アカウント管理を表示 -->        
              </li>
            <li class="nav-item">
                <%= link_to "about", about_path ,class: "nav-link" %>        <!--about-->     
            </li>
                <li class="nav-item">
                    <%= link_to "Users", users_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbar-dropdown" data-toggle="dropdown">
                        <%= current_user.name %>
                    </a>
                    <div class="dropdown-menu">
                        <%= link_to "Profile", current_user, class: "dropdown-item" %>
                        <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
                        <%= link_to "Logout", signout_path, method: :delete, class: "dropdown-item" %>
                    </div>
                </li>
            <% else %>　<!--signできなかった時にここにくる-->
               <li class="nav-item">
                <%= link_to "home", root_path ,class: "nav-link" %>      <!--アカウント管理を表示 -->        
              </li>
                <li class="nav-item">
                    <%= link_to "Users", users_path, class: "nav-link" %>
                </li>
                
                <li class="nav-item">
                    <%= link_to "Sign up", signup_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign in", signin_path, class: "nav-link" %>
                </li>
            <% end %>
        </ul>
      </nav>

        <!--footer-->
        <div class="footer">
             <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="ナビゲーションの切替">
                </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                             <p>All rights reserved &copy;</p>
                        </ul>
                        <ul class="nanbar-nav">
                        </ul>
                      </div>
            </nav>
        </div>