    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"><nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!--heater-->
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand text-left" href="#">Sakata-e-learning</a>
        </ul>
        <ul class="navbar-nav">  
            <% if signed_in? %>  <!--もしサインインしたら、headerが変わるしくみ　ifを使う-->
             <li class="nav-item">
                <%= link_to "HOME", root_path ,class: "nav-link" %>      <!--アカウント管理を表示 -->        
              </li>
            <li class="nav-item">
                <%= link_to "ABOUT", about_path ,class: "nav-link" %>        <!--about-->     
            </li>

            <li class="nav-item">
                <%= link_to "LESSONS", categories_path ,class: "nav-link" %>        <!--about-->     
            </li>
                <li class="nav-item">
                    <%= link_to "USERS", users_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbar-dropdown" data-toggle="dropdown">
                        <%= current_user.name %>
                    </a>
                    <div class="dropdown-menu">
                        <%= link_to "PROFILE", current_user, class: "dropdown-item" %>
                        <%= link_to "EDIT PROFILE", edit_user_path(current_user), class: "dropdown-item" %>
                        <%= link_to "LOGOUT", signout_path, method: :delete, class: "dropdown-item" %>
                    </div>
                </li>
            <% else %>　<!--signできなかった時にここにくる-->
               <li class="nav-item">
                <%= link_to "HOME", root_path ,class: "nav-link" %>      <!--アカウント管理を表示 -->        
              </li>
                <li class="nav-item">
                    <%= link_to "USERS", users_path, class: "nav-link" %>
                </li>
                
                <li class="nav-item">
                    <%= link_to "SIGN UP", signup_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "SIGN IN", signin_path, class: "nav-link" %>
                </li>
            <% end %>
        </ul>
      </nav>